<br>
<div class="font1">
<div class="main-div">

  <mat-card>

    <mat-card class="example-card" flex="25">
        <img mat-card-image src="../../assets/img/portada1.jpg" alt="" width="500" height="250">

      </mat-card>

  </mat-card>


  <mat-card>

    <mat-card class="example-card" flex="25">
        <img mat-card-image src="../../assets/img/portada2.jpg" alt="" width="500" height="250">

      </mat-card>

  </mat-card>

    <mat-card>

    <mat-card class="example-card" flex="25">
        <img mat-card-image src="../../assets/img/portada1(old).png" alt="" width="500" height="250">

      </mat-card>

  </mat-card>

  

</div>

<br>

<mat-tab-group>
    
    <mat-tab label="Bienvenido"> 
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">home</mat-icon>
            Bienvenido
          </ng-template>        
        <div class="main-div">

            <mat-card>
                <br>

                <mat-card-content>¡Bienvenido a nuestra página de consultorios médicos! Estamos encantados de tenerte aquí y poder brindarte información y servicios de salud. <br> En nuestra página, encontrarás un equipo de médicos altamente capacitados y experimentados, dispuestos a brindarte la atención médica que necesitas para mejorar y mantener tu salud.<br>

                    Nuestros servicios médicos se adaptan a tus necesidades individuales, y te ofrecemos una amplia variedad de tratamientos y terapias para diferentes enfermedades y dolencias. <br> Si tienes alguna pregunta o necesitas más información sobre nuestros servicios, no dudes en contactarnos.<br>
                    
                    En nuestra página de consultorios médicos, trabajamos para proporcionar la mejor atención médica posible, y estamos comprometidos en ayudarte a mantener tu salud en óptimas condiciones. <br> Esperamos que disfrutes navegando por nuestra página y que encuentres todo lo que necesitas para mantener una vida saludable. ¡Gracias por visitarnos!.</mat-card-content>
              </mat-card> 
    
    </div>
    </mat-tab>



    <mat-tab label="Conoce nuestras cómodas instalaciones"> Content 2 </mat-tab>
    <mat-tab label="Médicos especializados"> Content 3 </mat-tab>
  </mat-tab-group>

</div>